@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Roboto&display=swap");

:root {
  --bg-color: white;
  --primary-text: black;
  --color-accent: rgb(47, 72, 151);
  --secondary-text: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--bg-color);
}

h1,
h2,
h3 {
  margin: 0;
  color: var(--primary-text);
}

h1 {
  font-weight: 300;
  font-size: 4em;
  padding: 25px;
}

h2 {
  font-size: 3em;
  padding: 25px;
  line-height: 1;
}

h3 {
  font-size: 2em;
}

strong {
  font-weight: 900;
}

p {
  text-align: left;
  padding-top: 15px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.3em;
  color: var(--primary-text);
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  padding: 25px;
}

.subtitle {
  font-family: "Fira Code", monospace;
  background: var(--color-accent);
  color: var(--secondary-text);
  padding: 5px;
  width: 60%;
}

#title {
  text-align: right;
}

section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  flex-direction: column;
  padding: 5em 2em;
  min-height: 100vh;
}

button {
  z-index: 4;
  position: absolute;
  top: 2em;
  right: 2em;
  padding: 0.5em 1em;
  font-size: 1.2em;
  background: var(--color-accent);
  color: var(--secondary-text);
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.date {
  color: var(--color-accent);
  font-family: "Fira Code", monospace;
}


.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  width: 100%;
}

footer {
  scroll-snap-stop: always;
  scroll-snap-align: end;
  background: var(--color-accent);
  color: var(--secondary-text);
}
footer p {
  text-align: center;
}

path {
  fill: var(--secondary-text);
}
