@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

h1, h2, h3 {
    margin: 0;
}

h1 {
    font-weight: 300;
    font-size: 4em;
    padding: 25px;
}

h2 {
    font-size: 3em;
    padding: 25px;
    line-height: 1;
}

h3 {
    font-size: 2em;
}

strong {
    font-weight: 900;
}

p {
    text-align: left;
    padding-top: 15px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.3em;
}

a {
    color: inherit;
    text-decoration: none;
    padding: 25px;
}

.subtitle {
    font-family: "Fira Code", monospace;
    background:rgb(47, 72, 151);
    color: white;
    padding: 5px;
    width: 60%;
}

#title {
    text-align: right;
}

section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    flex-direction: column;
    padding: 5em 2em;
    min-height: 100vh;
}

.container {
    scroll-snap-type:y mandatory;
    overflow-y: scroll;
    height: 100vh;
    width: 100%;
}

.hello {
    height: 100vh;
}

.about {
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-areas: 
        "title img"
        "subtitle img"
        "about img";
    grid-column-gap: 2em;
    margin: auto;
}

.about h2 {
    grid-area: title;

}

.about .subtitle {
    grid-area: subtitle;
    width: 120%;
    height: 4.5em;
}

.about #about {
    grid-area: about;
    line-height: 1.6;
}

.about img {
    grid-area: img;
    max-width: 100%;
    margin-bottom: 250px;
    border-radius: 5px;
    box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25), 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

.experience a {
    margin: 0.5em;
}

.experience a:hover h3 {
    font-size: 2.4em;
}

.experience a:hover {
    color: gray;
}

.experience .date {
    color:rgb(47, 72, 151);
    font-family: "Fira Code", monospace;
}

.project {
    position: relative;
    color:white;
}

.project h3 {
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 2;

}

.projects .projects-list {
    width: 100%;
    display: flex;
    justify-content: center;
}

.project img{
    width: 500px;
    height: 500px;
    object-fit: cover;
    margin: 30px;
    filter: grayscale(100%);
    z-index: 1;
}

.project:hover img {
    filter: grayscale(0%);
    width: 530px;
    height: 530px;
    margin: 15px;
}